/*
 * Gallery
 */

@import "../../vendor/slick";

.gallery-holder {
  margin-bottom: 67px;

  @include media("<tablet") {
    padding-bottom: 15px;
    border-bottom: 1px solid $color-grey;
    margin-bottom: 20px;
  }

  > h2 {
    margin: 0 80px 40px 0;

    @include media("<tablet") {
      margin: 0 50px 32px 0;
    }
  }
}

.gallery {
  margin: 0 -15px;

  &:not(.slick-initialized) {
    opacity: 0;
  }

  .slick-list {
    padding: 0 15px;
    margin: 0 -14px;
  }

  &-slide {
    padding: 0 15px;
    outline: none;

    > a {
      &:hover {
        text-decoration: none;
        color: $color-green;

        .img-holder {
          opacity: .5;
          box-shadow: 0 30px 60px 0 rgba($color-black, .2);

          @include media("<tablet") {
            box-shadow: 0 10px 20px 0 rgba($color-black, .2);
          }
        }
      }
    }

    .img-holder {
      width: 100%;
      padding-bottom: 128%;
      background-size: cover;
      background-position: 50% 50%;
      margin-bottom: 17px;
      transition: opacity .25s, box-shadow .25s;

      @include media("<tablet") {
        max-width: 35%;
        padding-bottom: 45%;
        float: left;
      }
    }

    .caption {
      @include media("<tablet") {
        overflow: hidden;
        padding: 0 10px 0 30px;
      }
    }

    h2 {
      margin-bottom: 8px;
    }

    p {
      color: $color-dark;
    }
  }

  .slick-arrow {
    position: absolute;
    border: none;
    background: none;
    top: -92px;
    right: 10px;
    text-indent: -9999px;
    overflow: hidden;
    height: 40px;
    width: 20px;
    transition: color .25s;

    @include media("<tablet") {
      top: -60px;
      right: 8px;
    }

    &:hover {
      color: $arrow-hover-color;
    }

    &:after {
      font: normal normal normal 48px FontAwesome;
      text-indent: 0;
      position: absolute;
      top: 0;
      left: 0;

      @include media("<tablet") {
        font-size: 24px;
      }
    }

    &.slick-prev {
      right: 68px;

      @include media("<tablet") {
        right: 42px;
      }

      &:after {
        content: "\f104";
      }
    }

    &.slick-next {
      &:after {
        content: "\f105";
      }
    }
  }
}
