/*
 * Post pagination
 */

.post-pagination {
  text-align: center;
  border-top: 1px solid $color-grey;
  border-bottom: 1px solid $color-grey;
  padding: 42px 0;
  margin: 11px 0 0;
  font-family: $font-family-bold;

  @include media("<tablet") {
    @include clearfix;
    padding: 20px 0;
    margin-bottom: 20px;
  }

  .back {
    margin: 0 90px;
    padding: 3px 10px 5px;
    min-width: 170px;
    vertical-align: middle;

    @include media("<tablet") {
      min-width: 120px;
      margin: 0 15px;
    }
  }

  .prev,
  .next {
    color: $post-pagination-color;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;

    @include media("<tablet") {
      float: left;
      margin-top: 5px;
    }

    &:hover {
      text-decoration: none;
      color: $post-pagination-hover-color;
    }

    i {
      font-size: 26px;
      margin: -1px 10px;
      vertical-align: top;

      @include media("<tablet") {
        font-size: 17px;
        margin: 1px 5px 0 0;
      }
    }
  }

  .next {
    @include media("<tablet") {
      float: right;

      i {
        margin: 1px 0 0 5px;
      }
    }
  }
}