/*
 * Read more
 */

.read-more {
  padding-right: 20px;
  position: relative;
  font-family: $font-family-bold;
  display: inline-block;
  vertical-align: top;

  i {
    position: absolute;
    right: 9px;
    top: 2px;
    font-size: 30px;

    @include media("<tablet") {
      top: 4px;
    }
  }

  span {
    overflow: hidden;
    max-width: 0;
    padding-right: 0;
    display: inline-block;
    vertical-align: middle;
    transition: max-width .5s, padding .5s;
    white-space: nowrap;

    @include media("<1025px") {
      max-width: none;
      padding-right: 6px;
    }
  }

  &:hover {
    color: $link-color;

    span {
      max-width: 150px;
      padding-right: 6px;
    }
  }
}
