/*
 * Tabs
 */

@import "../../vendor/bootstrap/scss/navs";

.nav-tabs {
  border: none;
  font-family: $font-family-bold;
  padding-bottom: 60px;

  @include media("<tablet") {
    font-size: 11px;
    padding-bottom: 27px;
  }

  > li {
    margin-bottom: 0;

    &:before {
      display: none;
    }

    &.active {
      > a {
        background: $color-green;
        color: $color-white;
        border: 1px solid $color-green;

        &:hover,
        &:focus {
          background: $color-green;
          color: $color-white;
        }
      }
    }

    + li {
      margin-left: -1px;
    }

    &:first-child {
      a {
        border-radius: 30px 0 0 30px;
      }
    }

    &:last-child {
      a {
        border-radius: 0 30px 30px 0;
      }
    }

    a {
      border: 1px solid $color-green;
      display: block;
      color: $color-green;
      margin-right: 0;
      padding: 13px 22px 16px;

      @include media("<tablet") {
        padding: 4px 10px 3px;
      }

      &:hover {
        background: $color-green;
        color: $color-white;
        border: 1px solid $color-green;
      }
    }
  }
}

.tab-content {
  padding: 48px 0 0;

  @include media("<tablet") {
    border-top: 1px solid $color-grey;
    padding: 21px 0 0;
  }
}