<!--
  Component: Content
-->
<div class="content">
  <div class="row">
    <div class="col-sm-5 col-sm-push-7">
      <img src="images/img-14.jpg" alt="image description" class="img-responsive" />
      <img src="images/placeholder.png" alt="image description" class="img-responsive" />
    </div>
    <div class="col-sm-6 col-sm-pull-5">
      <h2>Obis dolluptaspit pra dolore dolectam, temquia dolupture nis aliquibus excerioreium res sequi ditaeperum re parchici dion re pa sunt fuga.</h2>
      <p>Pis perori offic to odi doluptas si sus. Offic tem si occulpa rionsequis et rerateturem vit esedi beatam dolupta tiisquid eossinv eria saperum non rehent que odigent harcit reicil inis et quia aut la v eniendus, suntum eum volupta niet essimusa porios doloriae nobit har cips apicturiam quam ipit eumeniste.</p>
      <p>Iquam rest, omnias velibusant, si delignatur? Quid quae nem aut poreresti volupta spisqui apiet fugitin citibus mint occupiet ipsant. Rae. Itatquatia cum ellaut rerumen diatiun tiusci quiaeria dem quis. Iquam rest, omnias velibusant, si delignatur? Quid quae nem aut poreresti volupta spisqui apiet fugitin citibus mint occupiet ipsant. Rae. Itatquatia cum ellaut rerumen diatiun tiusci quiaeria dem quis. Iquam rest, omnias velibusant, si delignatur? Quid quae nem aut poreresti volupta spisqui apiet fugitin citibus mint occupiet ipsant. Rae. Itatquatia cum ellaut rerumen diatiun tiusci quiaeria dem quis.</p>
      <h3 class="text-success">Bullets Styling</h3>
      <ul>
        <li>Pis perori offic to odi doluptas si sus.</li>
        <li>Pis perori offic to odi doluptas si sus.</li>
        <li>Pis perori offic to odi doluptas si sus.</li>
        <li>Pis perori offic to odi doluptas si sus.</li>
        <li>Pis perori offic to odi doluptas si sus.</li>
        <li>Pis perori offic to odi doluptas si sus.</li>
      </ul>
    </div>
  </div>
</div>
