<footer class="footer">
  <div class="container-fluid">
    <div class="footer-info">
      <a href="#" class="footer-logo"><img src="images/footer-logo.svg" alt="image description" /></a>
      <a href="#" class="follow-us hidden-xs hidden-sm">Follow Us <i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <p class="copyright">&copy; 2017 CARE Vets Melbourne</p>
      <ul class="info-menu">
        <li class="visible-md-inline-block visible-lg-inline-block"><a href="#">Terms &amp; Conditions</a></li>
        <li class="visible-md-inline-block visible-lg-inline-block"><a href="#">Privacy</a></li>
        <li><a href="#">Website by Yoke</a></li>
      </ul>
    </div>
    <div class="footer-menu-holder visible-md-block visible-lg-block">
      <div class="menu">
        <h4><a href="#">Services</a></h4>
        <ul>
          <li><a href="#">Surgery</a></li>
          <li><a href="#">Medicine</a></li>
          <li><a href="#">Radiography</a></li>
          <li><a href="#">Emergency</a></li>
          <li><a href="#">Rabbit Doctors</a></li>
        </ul>
      </div>
      <div class="menu">
        <h4><a href="#">Pet Owners</a></h4>
        <ul>
          <li><a href="#">Appointments</a></li>
          <li><a href="#">Info Sheet</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Resources for Pet Owners</a></li>
        </ul>
      </div>
      <div class="menu">
        <h4><a href="#">For Vets</a></h4>
        <ul>
          <li><a href="#">Make an Enquiry</a></li>
          <li><a href="#">Referral Form</a></li>
          <li><a href="#">Process</a></li>
          <li><a href="#">Resources for Vets</a></li>
        </ul>
      </div>
      <div class="menu">
        <h4><a href="#">24hr Emergency</a></h4>
      </div>
      <div class="menu">
        <h4><a href="#">Contact</a></h4>
      </div>
    </div>
  </div>
</footer>

