<!DOCTYPE html>
<html>
<head>
  <!-- meta info -->
  @@include('templates/head/meta.html')
  @@include('templates/head/favicon.html')
  <!-- title of the page -->
  <title>Title</title>
  <!-- include styles -->
  @@include('templates/head/styles.html')
</head>
<body>
  <div class="wrapper">
    <!-- header of the page -->
    @@include('templates/layout/header.html', {"fixed": true})

    <!-- hero block -->
    <div class="hero" style="background-image: url(images/hero-contact.jpg);">
      <div class="hero-block">
        <div class="container-fluid">
          <h1>Resources for Pet Owners</h1>
          <ul class="breadcrumbs">
            <li><a href="#">Home</a></li>
            <li><a href="#">Pet Owners</a></li>
            <li><a href="#">Resources for Pet Owners</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- main area of the page -->
    <main class="main">
      <div class="container-fluid">
        <!-- content -->
        @@include('templates/components/pages/posts/content.html')
      </div>
      <!-- information section -->
      @@include('templates/components/common/info.html')
    </main>

    <!-- footer of the page -->
    @@include('templates/layout/footer.html')
  </div>
  <!-- include scripts -->
  @@include('templates/head/scripts.html')
</body>
</html>
