<!--
  Component: Content
-->
<div class="content">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#owners" aria-controls="owners" role="tab" data-toggle="tab">Resources for Pet Owners</a></li>
    <li role="presentation"><a href="#pets" aria-controls="pets" role="tab" data-toggle="tab">Resources for Vets</a></li>
  </ul>
  <div class="row">
    <div class="col-sm-8">
      <h2>Omnihic te nulpa ad ma consequ istionsequi ut mos aria qui at essi ad ma consequ istionsequi ut mos ari.</h2>
    </div>
  </div>
  @@include('templates/components/common/posts.html')
</div>
