<!--
  Component: Content
-->
<div class="content">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="content-text">
        <h2>5 Hood Street, Collingwood 3066</h2>
        <p>We are a 24-hour animal emergency and specialist hospital, open 24-hours a day; 7 days a week (Monday through Sunday). No appointment necessary.</p>
        <ul class="contact-list">
          <li><a href="tel:0394176417"><i class="fa fa-phone" aria-hidden="true"></i> (03) 9417 6417</a></li>
          <li><a href="tel:0394176417"><i class="fa fa-print" aria-hidden="true"></i> (03) 9417 6317</a></li>
          <li><a href="mailto:&#097;&#100;&#109;&#105;&#110;&#064;&#099;&#097;&#114;&#101;&#118;&#101;&#116;&#115;&#112;&#101;&#099;&#105;&#097;&#108;&#105;&#115;&#116;&#115;&#046;&#099;&#111;&#109;&#046;&#097;&#117;"><i class="fa fa-envelope" aria-hidden="true"></i> admin@carevetspecialists.com.au</a></li>
        </ul>
        <h3 class="text-success">Parking information</h3>
        <p>Dem remquam, cum laceate non exerum v ero moluptibus, am quossin pa quatis e veniss imoluptati ut milique in ni blautas ium assunt eos vellendit volupienda quias volupta.</p>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-1 col-sm-6">
      <div class="embed-responsive embed-responsive-4by3 contact-map-holder">
        <div id="contact-map"></div>
      </div>
      <a href="#" class="map-link">Open in Google Maps <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
