<!--
  Component: Content
-->
<div class="content">
  <div class="row">
    <div class="col-sm-5 col-sm-push-7">
      <div class="single-post-gallery">
        <img src="images/img-11.png" alt="image description" class="img-responsive" />
        <img src="images/placeholder.png" alt="image description" class="img-responsive" />
        <img src="images/placeholder.png" alt="image description" class="img-responsive" />
      </div>
    </div>
    <div class="col-sm-6 col-sm-pull-5">
      <div class="content-text">
        <div class="meta">
          <time datetime="2017-07-22">22 Feb 2017</time>
          <ul class="categories">
            <li>Category</li>
            <li>Category</li>
            <li>Category</li>
          </ul>
        </div>
        <h2>Diabetes mellitus usually occurs in middle-aged to older dogs. Any breed can be affected but some are more predisposed than others.</h2>
        <p>Signs associated with diabetes may include:</p>
        <ul>
          <li>Increased drinking</li>
          <li>Increased urinating</li>
          <li>Increased appetite</li>
          <li>Weight loss</li>
          <li>Dehydration</li>
          <li>Infections – urinary tract, skin, lungs</li>
          <li>Vomiting, diarrhoea, halitosis</li>
          <li>Lethargy</li>
          <li>Poor eyesight due to cataracts</li>
        </ul>
        <p>Almost all dogs with diabetes r equire insulin for treatment. This is because the special beta cells in the pancr eas do not produce enough insulin. The cause of this r educed insulin production has not been fully characterised in dogs. The activity of any insulin pr esent can also be antagonised (inhibited) by a number of f actors such as drugs (especially corticosteroids), obesity and other hormonal diseases lik e Cushing’s disease. Insulin is important because it is a molecul e that acts like a key, allowing glucose to enter the cells of the body to be utilised for energy. Without insulin, the glucose sits in the blood stream and the cells of the body breakdown fats and other substrates to make energy, using processes that are much less efficient and that can be toxic.</p>
        <p>Other hormonal diseases can mimic diabetes, particularly Cushin g’s disease. In order to diagnose diabetes and rule out other concurr ent diseases, your vet will need to take a blood sample for analysis (CBC, biochemistry +/-T4 +/- blood gases). They will also need to col lect a urine sample to check for glucose, ketones and infection. There can be a number of changes on the blood tests but the main f eature is an increased glucose (which will also be pr esent in the urine). Often y our pet can be quite well despite having diabetes, however sometimes they can become quite sick. These animals usually hav e a condition called diabetic ketoacidosis. This is diagnosed ! by finding k etones in the urine as well as glucose, as well as changes on the blood gas profile, which tell us that the patient is acidotic. This conditio n makes the animal unwell and usually reduces their appetite.</p>
            </div>
      </div>
  </div>
  <div class="post-pagination">
    <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i> Prev <span class="hidden-xs">Post</span></a>
    <a href="#" class="btn btn-default back">Back to blog</a>
    <a href="#" class="next">Next <span class="hidden-xs">Post</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
  </div>
</div>
