/*
 * Footer of the page
 */
.footer {
  z-index: 11;
  position: relative;
  background: $footer-bg;
  font: 14px/16px $footer-font-family;
  color: $footer-color;
  padding: 86px 0 60px;
  overflow: hidden;

  @include media("<desktop") {
    padding: 50px 0 30px;
  }

  @include media("<tablet") {
    padding: 32px 0 5px;
  }

  &:before {
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    position: absolute;
    box-shadow: 0 0 60px 5px rgba(black, .8);
  }

  &-info {
    float: left;
    padding-top: 3px;

    @include media("<desktop") {
      float: none;
      text-align: center;
    }
  }

  &-logo {
    display: block;
    width: 287px;
    margin-bottom: 42px;

    img {
      width: 100%;
    }

    @include media("<desktop") {
      margin: 0 auto 37px;
    }

    @include media("<tablet") {
      width: 240px;
    }
  }

  .follow-us {
    font: 18px $font-family-bold;
    margin-bottom: 34px;
    display: inline-block;
    vertical-align: top;

    &:hover {
      text-decoration: none;
    }

    i {
      padding-left: 4px;
    }
  }

  .copyright {
    color: $color-dark;
    margin-bottom: 11px;
  }

  .info-menu {
    @include list-unstyled;

    @include media("<desktop") {
      text-align: center;
    }

    li {
      display: inline-block;
      vertical-align: top;
      position: relative;
      padding-right: 24px;

      &:last-child {
        padding-right: 0;

        &:after {
          display: none;
        }
      }

      &:after {
        content: "";
        position: absolute;
        top: 3px;
        right: 10px;
        width: 1px;
        height: 13px;
        background: $color-dark;
      }
    }

    a {
      color: $color-dark;
    }
  }

  &-menu-holder {
    float: right;
    width: 63%;

    .menu {
      float: left;
      width: 20%;
      padding-left: 36px;

      ul {
        @include list-unstyled;
      }

      li {
        padding-bottom: 15px;
      }
    }

    h4 {
      letter-spacing: 0;
      margin-bottom: 12px;

      a {
        display: inline-block;
        vertical-align: top;
        border-bottom: 2px solid $footer-color;

        &:hover {
          border-bottom-color: $footer-bg;
          text-decoration: none;
        }
      }
    }

    a {
      color: $footer-color;
    }
  }
}
