<!-- build:js scripts/jquery-3.0.0.min.js -->
<script src="js/vendor/jquery-3.0.0.min.js"></script>
<!-- endbuild -->

<!-- build:js scripts/main.js -->
<script src="js/main.js"></script>
<script src="js/vendor/custom-select.js"></script>
<script src="js/vendor/slick.min.js"></script>
<script src="js/vendor/google-maps.js"></script>
<script src="js/vendor/bootstrap/dropdown.js"></script>
<script src="js/vendor/bootstrap/collapse.js"></script>
<script src="js/vendor/bootstrap/transition.js"></script>
<script src="js/vendor/bootstrap/tab.js"></script>
<!-- endbuild -->
