<!--
  Component: Who we are
-->
<section class="about-us">
  <div class="container-fluid">
    <div class="about-us-holder">
      <div class="image-holder">
        <img src="images/logo-with-image.png" alt="Care" class="logo img-responsive" />
      </div>
      <h4>Who We Are</h4>
      <div class="about-us-content">
        <h2>CARE is specialist pet referral hospital for both surgery and internal medicine.</h2>
        <p>We perform all types of Specialist Surgery: for example, hip replacement, complex fracture repair, knee reconstruction, abdominal or thoracic surgery.</p>
        <a href="#" class="read-more"><span>Learn more</span><i class="fa fa-angle-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</section>
