<!--
  Component: Content block with image
-->
<section class="content-block">
  <div class="image-holder">
    <img src="images/img-12.png" alt="image description" />
  </div>
  <div class="content-box">
    <h2>Surgivet Vital Signs information</h2>
    <p>Dem remquam, cum laceate non exerum v ero moluptibus, am quossin pa quatis e veniss imoluptati ut milique in ni blautas ium assunt eos v ellendit volupienda quias volupta. Dem remquam, cum laceate non exerum vero moluptibus, am quossin pa quatis eveniss imoluptati ut milique in ni blautas ium assunt eos vellendit volupienda quias volupta. Dem remquam, cum laceate non exerum v ero moluptibus, am quossin pa quatis eveniss imoluptati ut milique in ni blautas ium assunt eos v ellendit volupienda quias volupta. Dem remquam, cum laceate non exerum vero moluptibus, am quossin pa quatis e veniss imoluptati ut milique in ni blautas ium assunt eos vellendit volupienda quias volupta.</p>
  </div>
</section>
