<!--
  Component: Contact buttons
-->
<div class="contact-buttons visible-xs btn-group">
  <a href="tel:0394176417" class="call"><i class="fa fa-phone" aria-hidden="true"></i>Call</a>
  <a href="#" class="emergency"><svg class="cross" id="cross" data-name="cross" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 194.02 194.02"><title>red-cross</title><polygon class="cls-1" points="62.03 0 62.03 62.05 0 62.05 0 131.97 62.03 131.97 62.03 194.02 131.93 194.02 131.93 131.97 194.02 131.97 194.02 62.05 131.93 62.05 131.93 0 62.03 0"/></svg> 24hr Emerg.</a>
</div>
