<!--
  Component: Faq section
-->
<section class="faq">
  <h3>Frequently Asked Questions</h3>
  <div class="row">
    <div class="col-sm-8">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <a role="button" class="panel-opener collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <span>Enet ea quae imus dem aut aria aci cor r em que volorror ad que laborundi ilibusam, aut et ulparit apellat ibearup tatiatur sinctem posanim olorum sa volenest?</span>
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
          </div>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
             <p>Apellat ibearup tatiatur sinctemnet ea quae imus dem aut aria a ci cor rem que volorror ad que laborundi ilibusam, aut et ulparit apellat ibearup ta tiatur sinctem posanim olorum sa volenest</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <a role="button" class="panel-opener collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <span>Enet ea quae imus dem aut aria aci cor r em que volorror ad que laborundi ilibusam, aut et ulparit apellat ibearup tatiatur sinctemnet ea quae imus dem aut aria aci cor rem que volorror ad que laborundi ilibusam, aut et ulparit apellat ibearup ta tiatur sinctem posanim olorum sa volenest?</span>
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <p>Apellat ibearup tatiatur sinctemnet ea quae imus dem aut aria a ci cor rem que volorror ad que laborundi ilibusam, aut et ulparit apellat ibearup ta tiatur sinctem posanim olorum sa volenest</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <a role="button" class="panel-opener collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
              <span>Enet ea quae imus dem aut aria aci cor r em que volorror?</span>
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <p>Apellat ibearup tatiatur sinctemnet ea quae imus dem aut aria a ci cor rem que volorror ad que laborundi ilibusam, aut et ulparit apellat ibearup ta tiatur sinctem posanim olorum sa volenest</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <a role="button" class="panel-opener collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
              <span>Enet ea quae imus dem aut aria aci cor r em que volorror ad que laborundi ilibusam, aut et ulparit apellat ibearup tatiatur sinctemnet ea quae imus dem aut aria aci cor rem que volorror ad que laborundi ilibusam, aut et ulparit apellat ibearup ta tiatur sinctem posanim olorum sa volenest?</span>
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              <p>Apellat ibearup tatiatur sinctemnet ea quae imus dem aut aria a ci cor rem que volorror ad que laborundi ilibusam, aut et ulparit apellat ibearup ta tiatur sinctem posanim olorum sa volenest</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
