<!--
  Component: Faq section
-->
<section class="faq">
  <h3>Frequently Asked Questions</h3>
  <div class="row">
    <div class="col-sm-8">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <p>Enet ea quae imus dem aut aria aci cor r em que volorror ad que laborundi ilibusam, aut et ulparit apellat ibearup tatiatur sinctem posanim olorum sa volenest?</p>
            <a role="button" class="panel-opener collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
          </div>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
             <p>Apellat ibearup tatiatur sinctemnet ea quae imus dem aut aria a ci cor rem que volorror ad que laborundi ilibusam, aut et ulparit apellat ibearup ta tiatur sinctem posanim olorum sa volenest</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <p>Enet ea quae imus dem aut aria aci cor r em que volorror ad que laborundi ilibusam, aut et ulparit apellat ibearup tatiatur sinctemnet ea quae imus dem aut aria aci cor rem que volorror ad que laborundi ilibusam, aut et ulparit apellat ibearup ta tiatur sinctem posanim olorum sa volenest?</p>
            <a role="button" class="panel-opener collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <p>Apellat ibearup tatiatur sinctemnet ea quae imus dem aut aria a ci cor rem que volorror ad que laborundi ilibusam, aut et ulparit apellat ibearup ta tiatur sinctem posanim olorum sa volenest</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <p>Enet ea quae imus dem aut aria aci cor r em que volorror?</p>
            <a role="button" class="panel-opener collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <p>Apellat ibearup tatiatur sinctemnet ea quae imus dem aut aria a ci cor rem que volorror ad que laborundi ilibusam, aut et ulparit apellat ibearup ta tiatur sinctem posanim olorum sa volenest</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <p>Enet ea quae imus dem aut aria aci cor r em que volorror ad que laborundi ilibusam, aut et ulparit apellat ibearup tatiatur sinctemnet ea quae imus dem aut aria aci cor rem que volorror ad que laborundi ilibusam, aut et ulparit apellat ibearup ta tiatur sinctem posanim olorum sa volenest?</p>
            <a role="button" class="panel-opener collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              <p>Apellat ibearup tatiatur sinctemnet ea quae imus dem aut aria a ci cor rem que volorror ad que laborundi ilibusam, aut et ulparit apellat ibearup ta tiatur sinctem posanim olorum sa volenest</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
