<!--
  Component: Gallery
-->
<section class="gallery-holder">
  <h2>Surgeons</h2>
  <div class="gallery">
    <div class="gallery-slide">
      <a href="#"><img src="images/img-6.png" alt="image description" class="grayscale" /></a>
      <div class="caption">
        <h2><a href="#">Dr Guy Yates</a></h2>
        <p>Specialist Small Animal Surgeon and Director at CARE</p>
      </div>
    </div>
    <div class="gallery-slide">
      <a href="#"><img src="images/img-5.png" alt="image description" class="grayscale" /></a>
      <div class="caption">
        <h2><a href="#">Dr Sophie Haynes</a></h2>
        <p>Internal Medicine Specialist</p>
      </div>
    </div>
    <div class="gallery-slide">
      <a href="#"><img src="images/img-3.png" alt="image description" class="grayscale" /></a>
      <div class="caption">
        <h2><a href="#">Dr Gerry Skinner</a></h2>
        <p>The Rabbit Doctor</p>
      </div>
    </div>
    <div class="gallery-slide">
      <a href="#"><img src="images/img-4.png" alt="image description" class="grayscale" /></a>
      <div class="caption">
        <h2><a href="#">Dr Karen Brenner</a></h2>
        <p>Internal Medicine Specialist</p>
      </div>
    </div>
    <div class="gallery-slide">
      <a href="#"><img src="images/img-4.png" alt="image description" class="grayscale" /></a>
      <div class="caption">
        <h2><a href="#">Dr Karen Brenner</a></h2>
        <p>Internal Medicine Specialist</p>
      </div>
    </div>
  </div>
</section>
