<!--
  Component: Gallery
-->
<section class="gallery-holder">
  <h2>Surgeons</h2>
  <div class="gallery">
    <div class="gallery-slide">
      <a href="#">
        <img src="images/img-6.png" alt="image description" class="grayscale" />
        <div class="caption">
          <h2>Dr Guy Yates</h2>
          <p>Specialist Small Animal Surgeon and Director at CARE</p>
        </div>
      </a>
    </div>
    <div class="gallery-slide">
      <a href="#">
        <img src="images/img-5.png" alt="image description" class="grayscale" />
        <div class="caption">
          <h2>Dr Sophie Haynes</h2>
          <p>Internal Medicine Specialist</p>
        </div>
      </a>
    </div>
    <div class="gallery-slide">
      <a href="#">
        <img src="images/img-3.png" alt="image description" class="grayscale" />
        <div class="caption">
          <h2>Dr Gerry Skinner</h2>
          <p>The Rabbit Doctor</p>
        </div>
      </a>
    </div>
    <div class="gallery-slide">
      <a href="#">
        <img src="images/img-4.png" alt="image description" class="grayscale" />
        <div class="caption">
          <h2>Dr Karen Brenner</h2>
          <p>Internal Medicine Specialist</p>
        </div>
      </a>
    </div>
    <div class="gallery-slide">
      <a href="#">
        <img src="images/img-4.png" alt="image description" class="grayscale" />
        <div class="caption">
          <h2>Dr Karen Brenner</h2>
          <p>Internal Medicine Specialist</p>
        </div>
      </a>
    </div>
  </div>
</section>
