<!--
  Component: Information section
-->
<section class="information">
  <div class="information-holder text-center">
    <div class="information-image" style="background-image: url(images/img-1.jpg);"></div>
    <div class="information-block">
      <div class="information-box text-right">
       <div class="information-content">
          <img src="images/green-pin.svg" alt="pin" class="icon" />
          <h4 class="text-success">COME IN FOR A VISIT</h4>
          <address class="text">5 Hood Street, Collingwood, 3066</address>
          <a href="#" class="btn btn-success btn-inverse">Contact Us</a>
       </div>
      </div>
    </div>
  </div>
  <div class="information-holder text-center">
    <div class="information-image" style="background-image: url(images/img-1.jpg);"></div>
    <div class="information-block">
      <div class="information-box text-left">
        <div class="information-content">
          <img src="images/red-cross.svg" alt="cross" class="icon cross" />
          <h4 class="text-danger">NO APPOINTMENT NEEDED</h4>
          <div class="text">24hrs Emergency Available</div>
          <a href="#" class="btn btn-danger btn-inverse">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>
