<!--
  Component: Newsletter block
-->
<div class="newsletter">
  <div class="img-holder hidden-xs">
    <img src="images/logo-with-image.png" alt="image description" class="img-responsive" />
  </div>
  <div class="newsletter-block">
    <h2>Sign up to our Newsletter.</h2>
    <form action="#" class="newsletter-form">
      <div class="inputs-holder">
        <div class="input-field">
          <label for="first-name">First Name</label>
          <input type="text" name="first-name" id="first-name" class="form-control">
        </div>
        <div class="input-field">
          <label for="last-name">Last Name</label>
          <input type="text" name="last-name" id="last-name" class="form-control">
        </div>
        <div class="input-field">
          <label for="email">Email Address</label>
          <input type="email" name="email" id="email" class="form-control">
        </div>
      </div>
      <div class="clearfix button-box">
        <div class="agree-send-block">
          <input type="checkbox" name="agree-terms" id="agree-terms" class="custom-checkbox">
          <label for="agree-terms"></label>
          <span>I agree to the <a href="#">Terms &amp; Conditions</a></span>
        </div>
        <input type="submit" value="Submit" class="btn btn-success">
      </div>
    </form>
  </div>
</div>
