<!--
  Component: Services
-->
<section class="services">
  <div class="heading">
    <h4>Service Links:</h4>
  </div>
  <ul class="services-list">
    <li><a href="#">Medicine <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
    <li><a href="#">Radiography <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
    <li><a href="#">Emergency <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
    <li><a href="#">Rabbit Doctors <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
    <li><a href="#" class="disabled">Neurology <span class="soon">(Coming Soon)</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
  </ul>
</section>
