<!--
  Component: Share this
-->
<div class="dropdown share-this">
  <a href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="hidden-xs">Share this post</span> <i class="fa fa-share-alt" aria-hidden="true"></i></a>
  <ul class="dropdown-menu">
    <li><a href="#">Facebook <i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    <li><a href="#">Linkedin <i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
    <li><a href="#">Twitter <i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    <li><a href="#">Google Plus <i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
    <li><a href="#">Pinterest <i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
    <li><a href="#">Tumblr <i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
    <li><a href="#">Instragram <i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    <li><a href="#">Yelp <i class="fa fa-yelp" aria-hidden="true"></i></a></li>
  </ul>
</div>
