<!--
  Component: Content
-->
<div class="content">
  <div class="row">
    <div class="col-sm-5 col-sm-offset-1 col-sm-push-6">
      <div class="content-img" style="background-image: url(images/img-13.png)"></div>
    </div>
    <div class="col-sm-6 col-sm-pull-6">
      <div class="content-text">
        <h2>We offer a state-of-the-art operating theatre, advanced surgical equipment, minimally-invasive surgery, thoracosopy, laparoscopy, and advanced orthopedics.</h2>
        <p>We have exceptionally high sterility and autoclaving standar ds including a B-class autoclave and highly trained theatre nurses, and our standards rival many of the human hospitals. If y ou are a pet owner , please talk to y our family veterinarian first if you would like to arrange a referral to CARE.</p>
      </div>
    </div>
  </div>
</div>
